body {
  background-image: url(globe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 28px;
  font-family: "Asap", sans-serif;
  padding: 30px;
}

input {
  padding: 15px;
  border: 1px solid rgb(28, 116, 238);
  border-radius: 15px;
  font-family: "Asap", sans-serif;
  font-size: 20px;
  color: rgb(0, 58, 139);
}

header {
  border-bottom: 1px solid rgb(232, 233, 251);
  padding-bottom: 25px;
}

footer {
  border-top: 1px solid rgb(232, 233, 251);
  padding-top: 9px;
  text-align: center;
  font-weight: 300;
}

button {
  padding: 10px;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 5.8%,
    rgb(252, 239, 250) 7.8%,
    rgb(234, 251, 251) 9.9%,
    rgb(240, 251, 244) 11.7%
  );
  border: 1px solid rgb(28, 116, 238);
  border-radius: 20px;
  color: rgb(0, 58, 139);
  transition: all 200ms ease-in-out;
}

button:hover {
  background: #788ffb;
  color: white;
}

.weather-app {
  background: linear-gradient(
    109.6deg,
    rgb(120, 143, 251) 11.2%,
    rgb(133, 235, 255) 91.1%
  );
  padding: 25px;
  margin: 0 auto;
  max-width: 600px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  color: rgb(0, 58, 139);
}

.form-input-search {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  width: 72%;
  margin-right: 20px;
  margin-left: 20px;
}

.form-input-submit {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 8.8%,
    rgb(252, 239, 250) 15.8%,
    rgb(234, 251, 251) 25.6%,
    rgb(240, 251, 244) 35.7%
  );
  transition: all 200ms ease-in-out;
}

.form-input-submit:hover {
  background: rgb(120, 143, 251);
  color: white;
}
